.loader-component {
  display: flex;
  align-items: center;
  line-height: 24px;
  color: var(--color-black);
}

.loader-component--light {
  color: var(--color-silver);
}

.loader-component--ghost {
  color: var(--color-primary);
}

.loader-component--centered {
  justify-content: center;
}

.loader-component__symbol {
  margin-right: 8px;
  fill: currentColor;
  animation: loading 2s infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0deg) scale(0.8);
  }

  25% {
    transform: rotate(90deg) scale(0.6);
  }

  50% {
    transform: rotate(180deg) scale(0.8);
  }

  75% {
    transform: rotate(270deg) scale(0.6);
  }

  100% {
    transform: rotate(360deg) scale(0.8);
  }
}