<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
    {%- include head.html -%}
    <body>
        {%- include header.html -%}
        <div style="display: flex; flex-direction: row; justify-content: flex-end; align-items: center; white-space: nowrap;">
            <div>Theme:&nbsp;&nbsp;</div>
            <div style="display: inline-block;">
                <dark-mode-toggle appearance="switch" permanent="true" light="light&nbsp;&nbsp;" dark="dark&nbsp;&nbsp;"></dark-mode-toggle>
            </div>
            <div style="width: 24px;"></div>
        </div>
        <main class="page-content" aria-label="Content">
            <div class="wrapper">
                {{ content }}
            </div>
        </main>
        {%- include footer.html -%}
    </body>
</html>
